<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: frag_head}"></head>
<body>

<div id="frag_category" class="mt-1 row" th:fragment="frag_category" th:object="${postCategoryForms}">

  <strong class="d-none d-md-block h7 my-2 mt-4"
          style="cursor:pointer"
          th:onclick="|location.href='@{/}'|"
  >분류
    <span class="badge rounded-pill text-bg-secondary" th:text="${allPostCount?:0}">22</span>
  </strong>
  <hr class="d-none d-md-block my-2">
  <ul class="list-group list-group-flush" >
    <div th:each="postCategoryForm : ${postCategoryForms}">
      <li class="list-group-item"
          style="cursor:pointer"
          onMouseover="this.style.background='ghostwhite';"
          onMouseout="this.style.background='white';"
          th:onclick="|location.href='@{/boarder/{categoryName}(categoryName=${postCategoryForm.name})}'|">
        <span class="d-inline" th:if="${postCategoryForm.parentId?:_}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="d-inline" th:text="${postCategoryForm.name}">
          An item
        </span>
        <span class="badge rounded-pill text-bg-secondary" th:text="${postCategoryForm.postCount}">10</span>
      </li>
    </div>
  </ul>

  <script th:inline="javascript">
      fetchPage("/sidemenu-postCategory", "frag_category");

  </script>
</div>
<div id="frag_category_navi" class="mt-1 row" th:fragment="frag_category_navi" th:object="${postCategoryForms}">

  <strong class=" h7 my-2 mt-4"
          style="cursor:pointer"
          th:onclick="|location.href='@{/}'|"
  >분류
    <span class="badge rounded-pill text-bg-secondary" th:text="${allPostCount?:0}">22</span>
  </strong>
  <hr class=" my-2">
  <ul class="list-group list-group-flush" >
    <div th:each="postCategoryForm : ${postCategoryForms}">
      <li class="list-group-item"
          style="cursor:pointer"
          onMouseover="this.style.background='ghostwhite';"
          onMouseout="this.style.background='white';"
          th:onclick="|location.href='@{/boarder/{categoryName}(categoryName=${postCategoryForm.name})}'|">
        <span class="d-inline" th:if="${postCategoryForm.parentId?:_}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="d-inline" th:text="${postCategoryForm.name}">
          An item
        </span>
        <span class="badge rounded-pill text-bg-secondary" th:text="${postCategoryForm.postCount}">10</span>
      </li>
    </div>
  </ul>

  <script th:inline="javascript">
      fetchPage("/sidemenu-postCategory", "frag_category_navi");

  </script>
</div>

</body>
</html>