<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: frag_head}"></head>
<body>
<div th:replace="~{fragment/header :: frag_header}"></div>
<div th:replace="~{fragment/nav :: frag_nav}"></div>

<div th:replace="~{fragment/section :: frag_section(~{::#categoryFrag})}">

  <main th:object="${categoryForms}"
        class="d-flex flex-column justify-content-center h-100 bg-dark p-2 text-dark bg-opacity-10 " id="categoryFrag">

    <div class="list-group list-group-flush m-auto w-50">
      <div class="d-flex flex-row align-items-center">
        <strong class="h7 my-2 mx-2">분류 수정
        </strong>
        <button class="d-flex justify-content-center align-items-center btn btn-outline-primary"
                style="width: 20px;height: 30px"
                type="button"
                onclick="location.href='/category/add'">+
        </button>
      </div>
      <hr class="d-none d-md-block my-2">

      <div class="d-flex justify-content-center align-items-center list-group-item"
           style="background-color: rgba(232,233,233,0.56)"
           th:each="categoryForm : ${categoryForms}">
        <div class="d-inline" th:text="'&nbsp&nbsp&nbsp&nbsp'" th:if="${categoryForm.parentId ge 1}"></div>
        <div class="d-inline me-auto" th:text="${categoryForm.name}"></div>
        <button class="d-flex justify-content-center align-items-center d-inline btn btn-outline-primary me-1"
                th:if="${categoryForm.parentId}?false:true"
                style="width: 20px;height: 30px"
                th:onclick="|location.href='@{/category/add(parentId=${categoryForm.id})}'|">+
        </button>
        <form action="/category/delete" method="post" th:object="${deleteCategoryForm}">
          <button class="d-flex justify-content-center align-items-center d-inline btn btn-outline-danger me-1"
                  th:if="${categoryForm.parentId}?true:not(${categoryForm.hasChild})"
                  style="width: 20px;height: 30px"
                  type="submit">-
          </button>
          <input type="hidden" id="id" name="id" th:value="${categoryForm.id}">
          <input type="hidden" id="name" name="name" th:value="${categoryForm.name}">
        </form>
      </div>
    </div>

  </main>

</div>

<footer th:replace="~{fragment/footer :: frag_footer}"></footer>
<script th:inline="javascript">
</script>
</body>
</html>