<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: frag_head_args(~{::title},~{::link})">
  <meta charset="UTF-8">
  <title th:text="${postForm.title}">글쓰기</title>
  <link>
</head>
<body>
  <div th:replace="~{fragment/header :: frag_header}"></div>
  <div th:replace="~{fragment/nav :: frag_nav}"></div>

    <div th:replace="~{fragment/section :: frag_section(~{::#viewer})}">
      <div id="viewer" th:replace="~{fragment/viewer :: viewer}"></div>
    </div>

  <footer th:replace="~{fragment/footer :: frag_footer}"></footer>
</body>
</html>