<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>position test</title>
</head>
<body>
<style>
  main, section, article, div {
    border: 1px solid black;
    padding: 20px;
  }
  main {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }
  div.absolute {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    max-width: 500px;
    margin: 15px auto;
  }

</style>

<main>
  main
  <section>
    section
    <article>
      article
      <div>static</div>
      <div>relative</div>
      <div class="absolute">absolute</div>
      <div>fixed</div>
      <div>sticky</div>
    </article>
  </section>
</main>


</body>
</html>